#age{
    background-color: white;
    color:black;
    box-shadow:1px 3px 3px gray ;
}


.bullet{
    position: absolute;
    padding:0;
    list-style-type: none;
    width:fit-content;
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.15);
}
#bar1{
    position: absolute;
    top:60%;
}
#bar2{
    position: absolute;

    top:75%;
}
.bullet li {
    float: left;
    width:150px;
}

.bullet li a {
    text-decoration: none;
    color:black;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.bullet .active{
    background-color: orange;
}