<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="Mobile Application HTML5 Template" />

    <meta name="copyright" content="MACode ID, https://www.macodeid.com/" />

    <title>Mobster - One page app template</title>

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="css/maicons.css" />

    <link rel="stylesheet" href="vendor/animate/animate.css" />

    <link rel="stylesheet" href="vendor/owl-carousel/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="css/bootstrap.css" />

    <link rel="stylesheet" href="css/mobster.css" />
</head>

<body>
    <%- include('nav.ejs') %>
        <main class="bg-light">
            <div class="page-hero-section bg-image hero-mini" style="background-image: url(img//4-01.svg)">
                <div class="hero-caption">
                    <div class="container fg-white h-100">
                        <div class="row justify-content-center align-items-center text-center h-100">
                            <div class="col-lg-6">
                                <h3 class="mb-4 fw-medium" style="color: black">About Us</h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dark justify-content-center bg-transparent">
                                        <li class="breadcrumb-item">
                                            <a href="index.html" style="color: black">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page" style="color: black">
                                            About
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section pt-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card-page">
                                <h5 class="fg-primary">소개</h5>
                                <hr />
                                <p>
                                    라이프 코치는 성균관대학교 학생들에 의해서 만들어진 교육 서비스 플랫폼입니다.저희 프로젝트는 코딩 교육뿐만 아니라 코딩과 다양한 과목들을 접목해서 학생들이 개념에 쉽게 다가갈 수 있도록 하는 서비스를 기획합니다. 기존의 코딩교육과는 다르게 작은 범위를 핵심적으로 설명하는 짧은 영상 콘텐츠들의 연속으로 학생들이 필요한 부분만 효율적으로 선택하고 집중해서 배울 수 있도록 합니다. 또한 코딩을 활용해서 다른 과목의 개념들까지 설명하는 콘텐츠 또한 제공할
                                    예정입니다. 단순히 기술만을 제공하는 교육을 넘어서 다양한 분야에 대해 사고할 수 있기를 바라는 마음에서 생각해보게 되었습니다.
                                </p>

                                <p>
                                    4차 산업혁명 시대를 맞이해 코딩 교육은 피할 수 없게 되었습니다. 코딩 교육은 단순히 알고리즘을 해결하는 소프트웨어 역량을 가르치기는 것에서 그치지 않고, 창의적으로 문제를 해결하는 능력을 높일 뿐만 아니라 다양한 논리적 사고를 할 수 있게 합니다. 따라서 서울시 청소년들을 대상으로 하는 융합 코딩 교육은 4차 산업혁명 인재 양성에 기여할 수 있습니다. 이는 곧 디지털 리터러시 문화의 확산으로 이어져, 서울시 학생들이 정보화 사회에서 수동적이기보다
                                    능동적인 역할을 할 수 있도록 도울 수 있습니다. 또한 4차 산업혁명 인재는 현재 수요에 비해 공급이 부족한 상황입니다. 19년도 이노베이션 아카데미의 이민석 학장은 국내에서 대략 10만명 정도 개발자 수요가 있는데 대학 공급은 1만 7000명 수준이라고 말했습니다. 따라서 청소년들에게 코딩의 활용 분야를 보여주는 융합 코딩 교육은 학생들이 코딩에 관심을 갖는 것에서 멈추지 않고,
                                    더 나아가 다양한 지식을 습득할 수 있게 해줍니다. 이는 곧 4차 산업혁명 인재 공급 부족 현상을 해결하여, 후에 대한민국 공동체의 발전에 이바지할 것 입니다.
                                </p>
                            </div>
                            <div class="card-page mt-3">
                                <h5 class="fg-primary">Meet Our Teams</h5>
                                <hr />

                                <div class="row justify-content-center">
                                    <div class="col-lg-3 py-3">
                                        <div class="team-item">
                                            <div class="team-avatar">
                                                <img src="/img/person/person_1.png" alt="" />
                                            </div>
                                            <h5 class="team-name">Junhee Kwon</h5>
                                            <span class="fg-gray fs-small">Creative Director</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 py-3">
                                        <div class="team-item">
                                            <div class="team-avatar">
                                                <img src="/img/person/person_2.png" alt="" />
                                            </div>
                                            <h5 class="team-name">SeoRyeong Oh</h5>
                                            <span class="fg-gray fs-small">UI/UX Designer</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 py-3">
                                        <div class="team-item">
                                            <div class="team-avatar">
                                                <img src="/img/person/person_3.png" alt="" />
                                            </div>
                                            <h5 class="team-name">SeoJin Kim</h5>
                                            <span class="fg-gray fs-small">Product Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-page mt-3">
                                <h5 class="fg-primary">Partners</h5>
                                <hr />

                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 justify-content-center align-items-center mt-5">
                                    <div class="p-3">
                                        <div class="/img-place client-img">SKKU</div>
                                    </div>
                                    <div class="p-3">
                                        <div class="/img-place client-img">LikeLion</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- .bg-light -->

        <%- include("foot.ejs")  %>

            <script src="js/jquery-3.5.1.min.js"></script>

            <script src="js/bootstrap.bundle.min.js"></script>

            <script src="vendor/owl-carousel/js/owl.carousel.min.js"></script>

            <script src="vendor/wow/wow.min.js"></script>

            <script src="js/mobster.js"></script>
</body>

</html>