<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="Mobile Application HTML5 Template" />

    <meta name="copyright" content="MACode ID, https://www.macodeid.com/" />

    <title>Element-High-Lecture</title>

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/maicons.css" />
    <link rel="stylesheet" href="/css/june.css" />
    <link rel="stylesheet" href="/css/june.css" />
    <link rel="stylesheet" href="/vendor/animate/animate.css" />
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/mobster.css" />
</head>

<body>
    <%- include('nav.ejs') %>
        <div class="bg-light">
            <div class="page-hero-section bg-image hero-mini" style="background-image: url(/img//1-01.svg)">
                <div class="hero-caption">
                    <div class="container fg-white h-100">
                        <div class="row justify-content-center align-items-center text-center h-100">
                            <ul id="bar1" class="bullet">
                                <li <% if(id==1) {%> class="active"
                                    <% } %>><a href="/lecture/1">초등 저학년</a></li>
                                <li <% if(id==2) {%> class="active"
                                    <% } %> >
                                        <a href="/lecture/2">초등 고학년</a>
                                </li>
                                <li <% if(id==3) {%> class="active"
                                    <% } %>><a href="/lecture/3">중등</a></li <% if(id==2) {%> class="active"
                                <% } %>>
                                    <li <% if(id==4) {%> class="active"
                                        <% } %>><a href="/lecture/4">고등</a></li>
                            </ul>
                            <ul id="bar2" class="bullet">
                                <li class="active"><a href="#">프로그래밍 언어</a></li>
                                <li><a href="#">자료구조</a></li>
                                <li><a href="#">알고리즘</a></li>
                                <li><a href="#">데이터베이스</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section">
                <div class="wow fadeInUp" style="display: flex; flex-wrap:wrap">
                    <div class="card-page" style="text-align: center; width:15rem; margin:2rem;">
                        <img src="/img/sq.jpg" style="width: 100%; height: 50%" />
                        <p>강의명</p>
                        <p>강의 내용</p>
                    </div>
                    <div class="card-page" style="text-align: center; width:15rem; margin:2rem;">
                        <img src="/img/sq.jpg" style="width: 100%; height: 50%" />
                        <p>강의명</p>
                        <p>강의 내용</p>
                    </div>
                    <div class="card-page" style="text-align: center; width:15rem; margin:2rem;">
                        <img src="/img/sq.jpg" style="width: 100%; height: 50%" />
                        <p>강의명</p>
                        <p>강의 내용</p>
                    </div>
                    <div class="card-page" style="text-align: center; width:15rem; margin:2rem;">
                        <img src="/img/sq.jpg" style="width: 100%; height: 50%" />
                        <p>강의명</p>
                        <p>강의 내용</p>
                    </div>
                    <div class="card-page" style="text-align: center; width:15rem; margin:2rem;">
                        <img src="/img/sq.jpg" style="width: 100%; height: 50%" />
                        <p>강의명</p>
                        <p>강의 내용</p>
                    </div>
                    <div class="card-page" style="text-align: center; width:15rem; margin:2rem;">
                        <img src="/img/sq.jpg" style="width: 100%; height: 50%" />
                        <p>강의명</p>
                        <p>강의 내용</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .bg-light -->
        <%- include("foot.ejs")  %>

            <script src="/js/jquery-3.5.1.min.js"></script>

            <script src="/js/bootstrap.bundle.min.js"></script>

            <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

            <script src="/vendor/wow/wow.min.js"></script>

            <script src="/js/mobster.js"></script>

            <script src="/js/google-maps.js"></script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>
</body>

</html>