<nav class="navbar navbar-expand-lg navbar-light navbar-floating">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/favicon.png" alt="" width="100" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-lg-5  mt-3 mt-lg-0">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item active" href="index.html">Homepage 1</a>
                    <a class="dropdown-item" href="index-2.html">Homepage 2</a>
        </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">라이프코치란?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/teacher">선생님</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lecture">강의</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user">마이페이지</a>
        </li>
        </ul>
        <div>
          <div class="input-group" style="width: 220px;">
              <input type="text" placeholder="Search" class="form-control" style="padding: 2px; width: 180px;">
              <div class="input-group-append">
              <button type="submit" class="btn btn-primary" style="width: 30px; padding: 0px;">
                <span>🔍</span>
              </button>
              </div>
          </div>
      </div>
        <div class="ml-auto my-2 my-lg-0">
            <a href="/login" style="text-decoration: none; color: white"><button class="btn btn-primary rounded-pill">로그인</button></a
        >
        <a
          href="/signin"
          style="text-decoration: none; color: white"
          ><button class="btn btn-primary rounded-pill">회원가입</button></a
        >
      </div>
    </div>
  </div>
</nav>