<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Mobile Application HTML5 Template">

    <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

    <title>Mobster - One page app template</title>

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/maicons.css">

    <link rel="stylesheet" href="/vendor/animate/animate.css">

    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/css/mobster.css">
</head>

<body>

    <%- include('nav.ejs') %>

        <main style="background-image: url(/img/5-01.svg); background-size:cover; align-items:center;">

            <div class="page-hero-section bg-image hero-mini">
                <div class="hero-caption">
                    <div class="container h-100">
                        <div class="row justify-content-center align-items-center text-center h-100">
                            <div class="col-lg-6">
                                <h3 class="mb-4 fw-medium">QnA 게시판</h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dark justify-content-center bg-transparent">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">강의</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="py-3" style="width: 1140px;">
                            <article class="blog-single-entry">
                                <div class="container">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>날짜</th>
                                            <th>조회수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>34</td>
                                            <td>강의 3 질문 입니다</td>
                                            <td>오서령</td>
                                            <td>20.11.20</td>
                                            <td>123</td>
                                        </tr>
                                        <tr>
                                            <td>33</td>
                                            <td>코딩 관련 질문이요!</td>
                                            <td>서령오</td>
                                            <td>20.11.21</td>
                                            <td>43</td>
                                        </tr>
                                        <tr>
                                            <td>32</td>
                                            <td>선생님 질문입니당</td>
                                            <td>령오서</td>
                                            <td>20.11.22</td>
                                            <td>15</td>
                                        </tr>
                                        <tr>
                                            <td>32</td>
                                            <td>선생님 질문입니당</td>
                                            <td>령오서</td>
                                            <td>20.11.22</td>
                                            <td>15</td>
                                        </tr>
                                        <tr>
                                            <td>33</td>
                                            <td>코딩 관련 질문이요!</td>
                                            <td>서령오</td>
                                            <td>20.11.21</td>
                                            <td>43</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <div class="text-center">
                                    <ul class="pagination">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>                             
                        </div>
                            <!-- end comment -->
                        </div> 
                        <!-- .row -->
                    </div>
                </div>

        </main>

        <%- include("foot.ejs")  %>
            <!-- .page-footer -->

            <script src="/js/jquery-3.5.1.min.js"></script>

            <script src="/js/bootstrap.bundle.min.js"></script>

            <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

            <script src="/vendor/wow/wow.min.js"></script>

            <script src="/js/mobster.js"></script>

</body>

</html>