<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>소개화면</title>
    <link rel="stylesheet" href="../stylesheets/june_style.css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body>
    <div id="tab">
        <div class=menu>
            <span id="commit" src="intro.html"><a href="intro.html">COMMIT</a></span>
            <span id=intro><a href="intro.html">소개</a></span>
            <span id=lecture><a href="intro.html">강의</a></span>
            <span id=teacher><a href="intro.html">강사</a></span>
            <span id=mypage><a href="intro.html">마이페이지</a></span>
        </div>
    </div>

    <div class="box">
        <img id="logo" src="../images/commit.jpg">
        <div class="title">서비스 소개
            <div id="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eligendi labore illum iure a dolores vero incidunt, esse ducimus quisquam quam. Sunt nisi incidunt a quo, saepe voluptatem libero inventore.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa exercitationem autem at odit corporis veritatis aliquid asperiores minima itaque sunt, vero inventore ipsam sequi! Consequuntur dolor possimus culpa enim, incidunt ratione debitis, officiis soluta animi commodi tenetur quibusdam beatae rerum voluptas laudantium praesentium sint rem saepe eveniet perspiciatis? Laboriosam quae molestias qu
            </div>
        </div>
    </div>
    </div>   
</body>
</html>