<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template</title>
    <link rel="stylesheet" href="../stylesheets/temp.css" />
    <script type="text/javascript" src="../js/sidebar.js"></script>
    <!-- Compiled and minified CSS -->
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a " href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">소개</a>
        <a href="#">강의</a>
        <a href="#">강사</a>
        <a href="#">마이페이지</a>
    </div>
    <span id="open" style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; OPEN </span>


    <div  id="tab">
        <div class=menu>
            <span id="commit" src="intro.html"><a href="#">COMMIT</a></span>
            <span id=intro><a href="#">소개</a></span>
            <span id=lecture><a href="#">강의</a></span>
            <span id=teacher><a href="#">강사</a></span>
            <span id=mypage><a href="#">마이페이지</a></span>
        </div>
    </div>

</body>
</html>